<div class="container">
<h1>ZHAN WANG</h1>

<nav>
	<li><%= link_to('ABOUT', cv_path, class: 'nav-link') %></li > 
  <li>   |   </li>
  <li><%= link_to('WORK', work_path, class: 'nav-link') %></li>
</nav>
</div>